<section class="content-header">
    <h1>
        Ongs
        <small>Todas os Ongs Cadastradas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="class fa fa-dashboard"></i> Home</a></li>
        <li class="active"><%= link_to 'Ongs', ongs_path %></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <% if @ongs.present? %>
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cidade</th>
                                <th colspan="1"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @ongs.each do |ong| %>
                            <tr>
                                <td><%= ong.name %></td>
                                <td><%= ong.user.address.city %></td>
                                <td>  <%= link_to '', ong, class: 'glyphicon glyphicon-eye-open' %>
                                    <%# if current_user.role == 'admin' || current_user.role == 'superadmin' %>
                                    <%= link_to '', edit_ong_path(ong), class: 'glyphicon glyphicon-edit', :style => 'color:#FFD600' %>
                                    <%= link_to '', ong, method: :delete, data: { confirm: 'Confirma exclusão?' }, class: 'glyphicon glyphicon-trash', :style => 'color:red' %>
                                    <%# end %>
                                    <%= link_to '', new_path(ong), class: 'glyphicon glyphicon-envelope' %>
                                </td>
                                <td></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>

                    <br>

                    <%#= link_to 'New Ong', new_ong_path %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>
