<center>
    <h4>Registrar</h4>
    <br>
</center>

<!-- Custom Tabs -->
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Usuário</a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">ONG</a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">

            <% resource.build_address %>       

            <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <%= f.text_field :name,autofocus: true, hide_label: true, placeholder: 'Nome', style: 'border-radius:0px' %>

            <%= f.fields_for :address do |a| %>
            <%= a.text_field :zipcode, hide_label:true, placeholder: 'CEP',   data: {provider: :zipcode}, style: 'border-radius:0px'  %>
            <%= a.text_field :street, hide_label:true, placeholder: 'Rua', data: {provider: :street}, style: 'border-radius:0px' %>
            <%= a.number_field :number, hide_label:true, placeholder: 'Numero', style: 'border-radius:0px' %>
            <%= a.text_field :complement, hide_label:true, placeholder: 'Complemento', style: 'border-radius:0px' %>
            <%= a.text_field :neighborhood, hide_label:true, placeholder: 'Bairro',  data: {provider: :neighborhood}, style: 'border-radius:0px' %>
            <%= a.text_field :city, hide_label:true, placeholder: 'Cidade', data: {provider: :city}, style: 'border-radius:0px'  %>
            <%= a.text_field :state, hide_label:true, placeholder: 'Estado',data: {provider: :state}, style: 'border-radius:0px'  %>
            <% end %>

            <%= f.email_field :email, hide_label: true, placeholder: 'E-mail', style: 'border-radius:0px' %>

            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: 'Senha', style: 'border-radius:0px' %>
            <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: true, placeholder: 'Confirmar Senha', style: 'border-radius:0px' %>
            <%= f.hidden_field :role, value: 'ong', hide: true %>
            <center>
                <%= f.submit "Registrar", class: 'btn btn-primary btn-block', style: 'border-radius:0px' %>
            </center>

            <% end %>


            <div class="social-auth-links text-center">
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Registrar
                    com Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Registrar com Google+</a>
            </div>
            <br>
            <center>
                <%= link_to 'Entrar', new_user_session_path %>
            </center>

        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">

            <% resource.build_ong %>
            <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <%= f.fields_for :ong do |builder| %>
            <%= builder.text_field :name, hide_label:true, placeholder: 'Nome Ong', style: 'border-radius:0px' %>
            <%= builder.text_field :name_fantasy, hide_label: true, placeholder: 'Nome Fantasia', style: 'border-radius:0px' %>
            <% end %>

            <%= f.fields_for :address do |a| %>
            <%= a.text_field :zipcode, hide_label:true, placeholder: 'CEP',   data: {provider: :zipcode}, style: 'border-radius:0px'  %>
            <%= a.text_field :street, hide_label:true, placeholder: 'Rua', data: {provider: :street}, style: 'border-radius:0px' %>
            <%= a.number_field :number, hide_label:true, placeholder: 'Numero', style: 'border-radius:0px' %>
            <%= a.text_field :complement, hide_label:true, placeholder: 'Complemento', style: 'border-radius:0px' %>
            <%= a.text_field :neighborhood, hide_label:true, placeholder: 'Bairro',  data: {provider: :neighborhood}, style: 'border-radius:0px' %>
            <%= a.text_field :city, hide_label:true, placeholder: 'Cidade', data: {provider: :city}, style: 'border-radius:0px'  %>
            <%= a.text_field :state, hide_label:true, placeholder: 'Estado',data: {provider: :state}, style: 'border-radius:0px'  %>
            <% end %>

            <%= f.text_field :name, hide_label: true, placeholder: 'Nome Usuário', style: 'border-radius:0px' %>
            <%= f.email_field :email, hide_label: true, placeholder: 'E-mail', style: 'border-radius:0px' %>

            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: 'Senha', style: 'border-radius:0px' %>
            <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: true, placeholder: 'Confirmar Senha', style: 'border-radius:0px' %>
            <%= f.hidden_field :role, value: 'ong', hide: true %>
            <center>
                <%= f.submit "Registrar", class: 'btn btn-primary btn-block', style: 'border-radius:0px' %>
            </center>

            <% end %>
            <div class="social-auth-links text-center">
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Registrar
                    com Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Registrar com Google+</a>
            </div>
            <br>
            <center>
                <%= link_to 'Entrar', new_user_session_path %>
            </center>

        </div>
        <!-- /.tab-pane -->


    </div>
    <!-- /.tab-content -->
</div>

<!-- nav-tabs-custom -->
<script>

    $(document).on('turbolinks:load', function() {
        $('.user_address_attributes_zipcode').inputmask({mask: "99.999-999"});
    });
    /*   $(document).ready(function(){
        var inputmask = require('inputmask');
        console.log('zipcode');
        $('#user_address_attributes_zipcode').inputmask("99.999-999");  //static mask

    });*/


</script>